<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>position</key>
	<dict>
		<key>wordPic</key>
		<dict>
			<key>x</key>
			<string>180</string>
			<key>y</key>
			<string>540</string>
		</dict>
		<key>scrollView</key>
		<dict>
			<key>x</key>
			<string>40</string>
			<key>y</key>
			<string>100</string>
		</dict>
		<key>back</key>
		<dict>
			<key>x</key>
			<string>985</string>
			<key>y</key>
			<string>535</string>
		</dict>
	</dict>
	<key>fontSize</key>
	<dict>
		<key>picIntro</key>
		<string>23</string>
	</dict>
	<key>size</key>
	<dict>
		<key>showSize</key>
		<dict>
			<key>width</key>
			<string>1000</string>
			<key>height</key>
			<string>450</string>
		</dict>
	</dict>
	<key>image</key>
	<dict>
		<key>S31TitleImg</key>
		<string>S31TitleImg.png</string>
	</dict>
	<key>groupString</key>
	<dict>
		<key>picIntro</key>
		<dict>
			<key>1</key>
			<string>冬虫草鸭</string>
			<key>2</key>
			<string>冬虫草鸭</string>
			<key>3</key>
			<string>冬虫草鸭</string>
			<key>4</key>
			<string>冬虫草鸭</string>
			<key>5</key>
			<string>冬虫草鸭</string>
			<key>6</key>
			<string>冬虫草鸭</string>
			<key>7</key>
			<string>冬虫草鸭</string>
			<key>8</key>
			<string>冬虫草鸭</string>
			<key>9</key>
			<string>冬虫草鸭</string>
			<key>10</key>
			<string>冬虫草鸭</string>
			<key>11</key>
			<string>冬虫草鸭</string>
			<key>12</key>
			<string>冬虫草鸭</string>
			<key>13</key>
			<string>冬虫草鸭</string>
			<key>14</key>
			<string>冬虫草鸭</string>
			<key>15</key>
			<string>冬虫草鸭</string>
			<key>16</key>
			<string>冬虫草鸭</string>
		</dict>
	</dict>
	<key>groupImage</key>
	<dict>
		<key>scrollPic</key>
		<dict>
			<key>1</key>
			<string>S31Yaoshan_01.png</string>
			<key>2</key>
			<string>S31Yaoshan_01.png</string>
			<key>3</key>
			<string>S31Yaoshan_01.png</string>
			<key>4</key>
			<string>S31Yaoshan_01.png</string>
			<key>5</key>
			<string>S31Yaoshan_01.png</string>
			<key>6</key>
			<string>S31Yaoshan_01.png</string>
			<key>7</key>
			<string>S31Yaoshan_01.png</string>
			<key>8</key>
			<string>S31Yaoshan_01.png</string>
			<key>9</key>
			<string>S31Yaoshan_01.png</string>
			<key>10</key>
			<string>S31Yaoshan_01.png</string>
			<key>11</key>
			<string>S31Yaoshan_01.png</string>
			<key>12</key>
			<string>S31Yaoshan_01.png</string>
			<key>13</key>
			<string>S31Yaoshan_01.png</string>
			<key>14</key>
			<string>S31Yaoshan_01.png</string>
			<key>15</key>
			<string>S31Yaoshan_01.png</string>
			<key>16</key>
			<string>S31Yaoshan_01.png</string>
		</dict>
	</dict>
</dict>
</plist>
