<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>position</key>
	<dict>
		<key>scrollView</key>
		<dict>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>60</string>
		</dict>
	</dict>
	<key>fontSize</key>
	<dict>
		<key>picIntro</key>
		<string>23</string>
	</dict>
	<key>size</key>
	<dict>
		<key>showSize</key>
		<dict>
			<key>width</key>
			<string>1000</string>
			<key>height</key>
			<string>495</string>
		</dict>
	</dict>
	<key>image</key>
	<dict/>
	<key>groupString</key>
	<dict>
		<key>picIntro</key>
		<dict>
			<key>1</key>
			<string>益之源净水器科技探秘</string>
			<key>2</key>
			<string>益之源净水器科技探秘</string>
			<key>3</key>
			<string>益之源净水器科技探秘</string>
			<key>4</key>
			<string>益之源净水器科技探秘</string>
			<key>5</key>
			<string>益之源净水器科技探秘</string>
			<key>6</key>
			<string>益之源净水器科技探秘</string>
		</dict>
		<key>videoIntro</key>
		<dict>
			<key>1</key>
			<string>http://www.tudou.com/listplay/nTGp77cleDs/rUCvNLq8TMg.html</string>
			<key>2</key>
			<string>http://www.tudou.com/listplay/nTGp77cleDs/rUCvNLq8TMg.html</string>
			<key>3</key>
			<string>http://www.tudou.com/listplay/nTGp77cleDs/rUCvNLq8TMg.html</string>
			<key>4</key>
			<string>http://www.tudou.com/listplay/nTGp77cleDs/rUCvNLq8TMg.html</string>
			<key>5</key>
			<string>http://www.tudou.com/listplay/nTGp77cleDs/rUCvNLq8TMg.html</string>
			<key>6</key>
			<string>http://www.tudou.com/listplay/nTGp77cleDs/rUCvNLq8TMg.html</string>
		</dict>
	</dict>
	<key>groupImage</key>
	<dict>
		<key>scrollPic</key>
		<dict>
			<key>1</key>
			<string>S15Small_1.png</string>
			<key>2</key>
			<string>S15Small_1.png</string>
			<key>3</key>
			<string>S15Small_1.png</string>
			<key>4</key>
			<string>S15Small_1.png</string>
			<key>5</key>
			<string>S15Small_1.png</string>
			<key>6</key>
			<string>S15Small_1.png</string>
		</dict>
		<key>scrollBigPic</key>
		<dict>
			<key>1</key>
			<string>S15Big_1.png</string>
		</dict>
	</dict>
</dict>
</plist>
